<!DOCTYPE html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
{% autoescape true %}
<html>
  <body>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.email }}
          {% if user and user.user_id() == greeting.author.identity %}
            (You)
          {% endif %}
        </b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>


    <hr><br><br>
    Manually create new user <br><br>
    <form action="/create_user" method="post">
      User name: <div><textarea name="user_name" rows="1" cols="60"></textarea></div>
      Display name: <div><textarea name="display_name" rows="1" cols="60"></textarea></div>
      Email: <div><textarea name="email" rows="1" cols="60"></textarea></div>
      <div><input type="submit" value="Create User"></div>
    </form>

  </body>
</html>
{% endautoescape %}