<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" 
    />
    <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" /> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/css/profile.css" />

    <title> Profile Page</title>
</head>
<body>

<!-- Fixed navbar -->
    <div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Find Time</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/event/create">Create Event</a></li>
            <li><a href="/recurring">Edit Recurring</a></li>
            <li>
              <form class="navbar-form form-inline pull-right" action="/search" method="get">
                  <input type="text" class="span2" placeholder="Search">
                  <input type="submit" value="Search" class="btn"/>
              </form>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </div>

    

    <script type="text/javascript">
      function parse_cal() {

      }
    </script>

    <script>
    function test_func(data) {
      console.log(data);
    }

    $(document).ready(function(){
      var disp = document.getElementsByClassName('container')[1];
      var grid = document.createElement('table');
      grid.className = 'calendar';
      disp.appendChild(grid);
      
      // header row
      var col_headers = ['Time','M','T','W','Th','F','Sa','Su'];

      // <thead>
      //     <tr>
      //         <th>&nbsp;</th>
      //         <th width="20%">Sunday</th>
      //         <th width="20%">Monday</th>
      //         <th width="20%">Tuesday</th>
      //         <th width="20%">Wednesday</th>
      //         <th width="20%">Thursday</th>
      //     </tr>
      // </thead>

      var head = document.createElement('thead');
      var row = document.createElement('tr');

      $.each(col_headers, function( index, value ) {
        var th = row.appendChild(document.createElement('th'));
        $(th).text(value);
      })

      head.appendChild(row);
      grid.appendChild(head);

      // $(row).prepend(head)
      // $(grid).prepend(row);
    })
    </script>

    <div>

    <div class="jumbotron">
      <div class="container" id="calendar-container">
      



        <h1>Hello, world!</h1>
        User: {{user_name}} <br>
        {% if calendar %}
            Monday events: <br>
            {% for event in calendar.daily_events['monday'] %}
                Event #{{loop.index}}
                Name: {{event.event_name}} <br>
                Description: {{event.event_description}} <br>
                Location: {{event.event_location}} <br>
                Beginning time: {{event.beginning_time}} <br>
                Ending time: {{event.ending_time}} <br>
                <br><br>
            {% endfor %}
            <br>

            Tuesday events: <br>
            {% for event in calendar.daily_events['tuesday'] %}
                Event #{{loop.index}}
                Name: {{event.event_name}} <br>
                Description: {{event.event_description}} <br>
                Location: {{event.event_location}} <br>
                Beginning time: {{event.beginning_time}} <br>
                Ending time: {{event.ending_time}} <br>
                <br><br>
            {% endfor %}
            <br>

            Wednesday events: <br>
            {% for event in calendar.daily_events['wednesday'] %}
                Event #{{loop.index}}
                Name: {{event.event_name}} <br>
                Description: {{event.event_description}} <br>
                Location: {{event.event_location}} <br>
                Beginning time: {{event.beginning_time}} <br>
                Ending time: {{event.ending_time}} <br>
                <br><br>
            {% endfor %}
            <br>

            Thursday events: <br>
            {% for event in calendar.daily_events['thursday'] %}
                Event #{{loop.index}}
                Name: {{event.event_name}} <br>
                Description: {{event.event_description}} <br>
                Location: {{event.event_location}} <br>
                Beginning time: {{event.beginning_time}} <br>
                Ending time: {{event.ending_time}} <br>
                <br><br>
            {% endfor %}
            <br>

            Friday events: <br>
            {% for event in calendar.daily_events['friday'] %}
                Event #{{loop.index}}
                Name: {{event.event_name}} <br>
                Description: {{event.event_description}} <br>
                Location: {{event.event_location}} <br>
                Beginning time: {{event.beginning_time}} <br>
                Ending time: {{event.ending_time}} <br>
                <br><br>
            {% endfor %}
            <br>

            Saturday events: <br>
            {% for event in calendar.daily_events['saturday'] %}
                Event #{{loop.index}}
                Name: {{event.event_name}} <br>
                Description: {{event.event_description}} <br>
                Location: {{event.event_location}} <br>
                Beginning time: {{event.beginning_time}} <br>
                Ending time: {{event.ending_time}} <br>
                <br><br>
            {% endfor %}
            <br>

            Sunday events: <br>
            {% for event in calendar.daily_events['sunday'] %}
                Event #{{loop.index}}
                Name: {{event.event_name}} <br>
                Description: {{event.event_description}} <br>
                Location: {{event.event_location}} <br>
                Beginning time: {{event.beginning_time}} <br>
                Ending time: {{event.ending_time}} <br>
                <br><br>
            {% endfor %}
            <br>
        {% endif %}

        user name: {{user_name}} <br>
        display name: {{display_name}} <br>
        relation: {{relation}} <br>
          {% for name in feed %}
                {% if name[1]%}
                    Friend Request From:
                    Time: {{name[2]}}
                    <br><br>
                {% else %}
                    Invitee Request From: {{name[0].owner}}
                    Time: {{name[2]}}
                    <br><br>
                {% endif %}
          {% endfor %}
      </div>
    </div>
    </div>


    {% if relation == 'stranger' %}
        <form action={{friend_behavior[0]}} method="post">
          <div><input type="submit" value="Add Friend" name="user"></div>
        </form>
    {% endif %}

    {% if relation == 'cancel' %}
        <form action={{friend_behavior[0]}} method="post">
          <div><input type="submit" value="Cancel Friend Request" name="user"></div>
        </form>
    {% endif %}

    {% if relation == 'accept/cancel' %}
        <form action={{friend_behavior[0]}} method="post">
          <div><input type="submit" value="Accept Friend Request" name="user"></div>
        </form>
        <form action={{friend_behavior[1]}} method="post">
          <div><input type="submit" value="Deny Friend Request" name="user"></div>
        </form>
    {% endif %}


    <a href="/">home page</a><br>
</body>