<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" 
    />
    <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" /> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/css/profile.css" />

    <title> Profile Page</title>
</head>
<body>

<!-- Fixed navbar -->
    <div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Find Time</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/recurring">Edit Recurring</a></li>
            <li>
              <form class="navbar-form form-inline pull-right" action="/search" method="get">
                  <input type="text" class="span2" placeholder="Search">
                  <input type="submit" value="Search" class="btn"/>
              </form>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </div>


    {%if calendar != None %}
    <table>
      <tr>
        <th>Time</th>
        {%for ColumnHeader in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']%}
        <th>{{ColumnHeader}}</th>
        {% endfor%}
      </tr>
    {% for i in range(0,48) %}
      <tr>
        {% for day in ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']%}
          {%if day == 'monday'%}
          <td>{{i}}</td>
          {%endif%}
          {% if calendar.event_blocks[day][i][0] != None and calendar.event_blocks[day][i][1] == False %}
            <td class="event"><a href="/event/view/{{calendar.event_blocks[day][i]}}">{{calendar.event_blocks[day][i].get().event_name}}</a>
              <a href="/profile">event</a>
            </td>
          {% elif calendar.event_blocks[day][i][1]%}
            <td class="nonevent">recurring</td>
          {%else%}
            <td class="nonevent">none</td>
          {%endif%}
        {%endfor%}
      </tr>
    {%endfor%}
    </table>
    {%endif%}

    <p>hello</p>



    {% if relation == 'stranger' %}
        <form action={{friend_behavior[0]}} method="post">
          <div><input type="submit" value="Add Friend" name="user"></div>
        </form>
    {% endif %}

    {% if relation == 'cancel' %}
        <form action={{friend_behavior[0]}} method="post">
          <div><input type="submit" value="Cancel Friend Request" name="user"></div>
        </form>
    {% endif %}

    {% if relation == 'accept/cancel' %}
        <form action={{friend_behavior[0]}} method="post">
          <div><input type="submit" value="Accept Friend Request" name="user"></div>
        </form>
        <form action={{friend_behavior[1]}} method="post">
          <div><input type="submit" value="Deny Friend Request" name="user"></div>
        </form>
    {% endif %}


    <a href="/">home page</a><br>
</body>